/* screen 1 */

.container-fluid{
  background-image: url(img/fondo.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  height: 100vh;
}

/* img logo pokepedia go */

.logo {
  width: 75%;
  margin-top: 20%;
  margin-left: 13%;
}

/* "Ingresa tu nombre de usuario y contraseña" */
.input-username-password{
  font-family: Tahoma, sans-serif;
  font-size: 40px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 3px;
  color: #5e7e7f;
  padding: 25% 5% 5% 5%;
}

/* style de inputs primera pantalla*/
.rounded-pill {
  font-family: Tahoma, sans-serif;
  font-size: 25px;
  font-weight: 600;
  color: #5e7e7f;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 2.5px;
  background-color: #ebe1e1;
  width: 80%;
  padding: 2%;
  margin: 1%;
}

/* btn ingresar */
#btn-start {
  background-color: #62d39e;
  color: white;
  font-size: 25px;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 2.5px;
  
}

/* introducción a la app pantalla 1 */

.introduction{
  font-family: Tahoma, sans-serif;
  font-size: 20px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 3px;
  color: #5e7e7f;
  padding: 10% 5% 5% 5%;
}

/* screen 2 */

.container-2 {
  background-image: url(img/fondo-screen-2.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  height: 100%;
}

/* Titulo: Selecciona la zona que quieres */

.select-zone {
  font-family: Tahoma, sans-serif;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  font-size: 26px;
  text-align: center;
  letter-spacing: 0.1em;
  margin-left: 30%;
  color: #5E7E7F;

}

/* img de mapass */
  
.kanto {
  height: 5cm;
  margin-top: 1%;
  margin-left: 80%;
  bottom: 2cm;
  } 
  
  .hoenn {
    height: 5cm;
    bottom: 2cm;
    margin-left: 280%;  
  } 

  .sinnoh {
    height: 5cm;
    bottom: 5cm;
    position: absolute;
    margin-bottom: 10em;
    margin-left: 100%;
  } 
  
  .johto {
    height: 5cm;
    margin-top: 10%;
    margin-left: 30em;
    margin-bottom: 10em;
    bottom: 2cm;
  } 

 /*  hacer que la img del mapa kanto se vea como botón responsive */
  a .kanto:hover {
    transition: opacity 0.3s;
    opacity: 0.5;
    filter: alpha(opacity=50);
  }

 /*  Screen 3 */
  
  .container-3{
    background-image: url(img/fondo.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: repeat-y;
    height: 100vh;
}

.navbar {
  
}

/* tarjetas de pokémon */

.card-name{
  font-family: Tahoma, sans-serif;
  font-weight: 90;
  font-size: 18px;
  letter-spacing: 2px;
  color: #5e7e7f;
  padding: 5% 1% 1% 1%;
  text-align: center
  }

.card{
  background-color:  #d9e5e6a8 
  margin-bottom: 29px;
  margin-left: 29px;
  border-radius: 10px;
	width:100px;
	height: 150px;
}

.card-img-top {
  width: 50px;
  height: auto;
}


  



/* Mediaquery para mover los mapas y achicarlos en teléfonos*/
/* 
@media (max-width: 731px) {
  .kanto, .sinnoh, .johto, .hoenn {
    height: 2cm;
  }
   }
  @media (max-width: 731px) {
    .johto {
    margin-left: 10em;
    }
  }

  /* Mediaquery para ajustar fondos en los teléfonos*/
/* 
  @media (max-width: 600px) {
    .container-fluid {
      height: 100%;
    }
  }

@media (max-width: 1366px) {
  .container-2 {
    height: 100vh;
  }
}
  
  @media (max-width: 600px) {
    .container-3 {
      height: 100%;
    }
  }  */