/* btn para ir al top de la pagina */
#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color:#5e7e7f;;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
}

#myBtn:hover {
  background-color: #555;
}

.html {
  font-family: Tahoma, sans-serif;
}

/* screen 1 */

.bg1{
  background-image: url(img/fondo1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  height: 100vh;
}

/* img logo pokepedia go */

.logo {
  width: 75%;
  margin-top: 20%;
  margin-left: 13%;
}

/* "Ingresa tu nombre de usuario y contraseña" */
.input-username-password{
  font-size: 40px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 3px;
  color: #5e7e7f;
  padding: 25% 6% 5% 0%;
}

.input {
  margin-top: -3%;
}

/* style de inputs primera pantalla*/
.rounded-pill {
  font-size: 25px;
  font-weight: 600;
  color: #5e7e7f;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 2.5px;
  background-color: #ebe1e1;
  width: 80%;
  padding: 2%;
  margin: 2%;
}

/* btn ingresar */
#btn-start {
  background-color: #62d39e;
  color: white;
  font-size: 25px;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 2.5px;
}

/* introducción a la app pantalla 1 */

.introduction{
  font-size: 20px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 3px;
  color: #5e7e7f;
  padding: 10% 5% 5% 5%;
}

/* screen 2 */

/* container-2 background */

.bg2 {
  background-image: url(img/fondo-screen-2.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  height: 100vh;

}

/* Titulo: Selecciona la zona que quieres */

.select-zone {
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  font-size: 26px;
  text-align: center;
  letter-spacing: 0.1em;
  margin-left: 25%;
  margin-top: 1%;
  color: #5E7E7F;
}


/* img de mapass */
  

.kanto {
  height: 5cm;
  margin-top: 1%;
  margin-left: 80%;
  }
  

  .hoenn {
    height: 5cm;
    margin-left: 280%;  
  } 

  .sinnoh {
    height: 5cm;
    margin-left: 140%;
    margin-top: -170%;
  } 
  
  .johto {
    height: 5cm;
    margin-left: 30em;
    margin-top: -170%;
  } 

 /*  hacer que la img del mapa kanto se vea como botón responsive */

  a .kanto:hover {
    transition: opacity 0.3s;
    opacity: 0.5;
    filter: alpha(opacity=50);
  }

 /*  Screen 3 */

/*  container-3 background */
  
.bg3 {
  background-image: url(img/fondo2.jpg);
  background-size: 1500px 850px;
  background-position: center;
  background-repeat: repeat;
  height: 100%;
  padding-left: 7.5%;
}

/* tarjetas de pokémon */

.card{
  background-color:  #d9e5e6;
  margin-bottom: 29px;
  margin-left: 29px;
  margin-top: 1%;
  border-radius: 10px;
	width:100px;
}

.card-name{
  font-weight: 90;
  font-size: 18px;
  letter-spacing: 0px;
  color: #5e7e7f;
  padding: 6% 1% 1% 1%;
  text-align: center
}

/* modal */

.pokemon-candy, .pokemon-weaknesses, .pokemon-type, .pokemon-egg {
  
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  font-size: 15px;
  text-align: center;
  letter-spacing: 0.01em;
  color: #5E7E7F;
}

#egg-img {
  width: 1cm;
}

.pokemon-name {
  margin-bottom: 1rem;
  margin-top: 1rem; 

}

/*Esstilos del modal*/

.modal-content{
  font-family: Tahoma, sans-serif;
  background-image: linear-gradient(to bottom right, #00538786, #14889F);;
  background-color: transparent;
  border-radius: 50px;
	width:500px;
}

.modal-body{
  font-family: Tahoma, sans-serif;
  background-color: #d9e5e6;
}

.pokemon-num{
  font-weight: 200;
  font-size: 30px;
  color: white;
  text-align: center;
}

.pokemon-modal-img{
  margin-left: 105%;
  margin-top: 5%;
}

.modal-footer{
  background-color: #d9e5e6;
  border-radius: 0px 0px 50px 50px;
  padding: 0.50rem;
}

.modal-title{
  font-weight: 200;
  font-size: 30px;
  color: #d9e5e6;
  display: flex;
  margin-left: 95%;
}

 .see-more{
  font-size: 12px;
  font-weight: 200;
  color: white;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 1.5px;
  background-color:#62d39e;
  width: 20%;
  padding: 2%;
  margin: 2%;
  border-radius: 30px;
}

/* navbar, selects de ordenar, etc */

.navbar {
  font-size: 20px;
  font-weight: 300;
  color: #4f6d6e;
}

#show-dato{
  font-size: 18px;
  font-style: italic;
  font-weight: 600;
  line-height: normal;
  text-align: center;
  letter-spacing: 0.1em;
  color: #5E7E7F;
}

.navbar-brand {
  font-size: 30px;
  font-style: italic;
  font-weight: 600;
  line-height: normal;
  text-align: center;
  letter-spacing: 0.1em;
  color: #5E7E7F;
}

.form-control {
  font-size: 30px;
  font-weight: 600;
  line-height: normal;
  font-size: 16px;
  letter-spacing: 0.1em;
  color: #5E7E7F;

}

.select-type {
  font-size: 30px;
  font-style: italic;
  font-weight: 600;
  line-height: normal;
  font-size: 26px;
  text-align: center;
  letter-spacing: 0.1em;
  color: #5E7E7F;

}

/* Mediaquery para mover los mapas y achicarlos en teléfonos*/

@media (max-width: 731px) {
  .kanto, .sinnoh, .johto, .hoenn {
    height: 4cm;
    margin: 5%;
  }
   }
  
   @media (max-width: 731px) {
    .johto {
      margin-left: 6em;
    }
  }

  @media (max-width: 731px) {
    .sinnoh {
      margin-left: 6em;
    }
  }
  
  /* Mediaquery para ajustar fondos en los teléfonos*/

  @media (max-width: 600px) {
    .bg1 {
      height: 100%;
    }
  }

  @media (max-width: 500px) {
    .modal-content{
      width: 325px;
    }
  }

    @media (max-width: 500px) {
      .html{
        width: 115%;
      }
    }
