/* screen 1 */

.container-fluid{
  background-image: url(img/fondo.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  height: 100vh;
}

.logo {
  width: 75%;
  margin-top: 20%;
  margin-left: 13%;
}

/* "Ingresa tu nombre de usuario y contraseña" */
.input-username-password{
  font-family: Tahoma, sans-serif;
  font-size: 40px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 3px;
  color: #5e7e7f;
  padding: 25% 5% 5% 5%;
}

/* style inputs */
.rounded-pill {
  font-family: Tahoma, sans-serif;
  font-size: 25px;
  font-weight: 600;
  color: #5e7e7f;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 2.5px;
  background-color: #ebe1e1;
  width: 80%;
  padding: 2%;
  margin: 1%;
}

/* btn ingresar */
#btn-start {
  background-color: #62d39e;
  color: white;
  font-size: 25px;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 2.5px;
  
}

.introduction{
  font-family: Tahoma, sans-serif;
  font-size: 20px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 3px;
  color: #5e7e7f;
  padding: 10% 5% 5% 5%;
}

/* screen 2 */

.container-2 {
  background-image: url(img/fondo-screen-2.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  height: 100vh;
}


/* Selecciona la zona que quieres */

.select-zone {
  font-family: Tahoma, sans-serif;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  font-size: 26px;
  text-align: center;
  letter-spacing: 0.1em;

color: #5E7E7F;
}

/* Hacer la img kanto responsive*/
  .kanto {
  height: 5cm;
  margin-top: 20%;
  bottom: 2cm;
  
  } 

  .container-3{
    background-image: url(img/fondo.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.card-body {
  padding: 10% 5% 5% 5%;
} 